.custom-tab {
  /* border: 1px solid #ccc; */
  color: #ffffff;
  background-color: rgb(71, 53, 142);
  transition: all 0.2s ease-in-out;
}

.custom-tab:hover {
  background-color: #e9ecef;
}

.custom-tab.active {
    background-color: #ffffff; /* ou a cor roxa que preferir */
    color: #000000;
    border-color: rgb(255, 255, 255); 
}

.list-group-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
